.dashboard {
  display: flex;
  flex-direction: row;
}

.dashboard > * {
  min-height: 100vh;
}

.container { 
  padding: 20px 15px 15px 15px;
  width: 100%;
  height: 100vh;
}

.diaryListContainer {
  width: 450px;
  border-right: 1px solid #ececec;
  overflow-y: scroll;
}
