.dashboard {
  --submenu-width: 450px;
  display: flex;
  flex-direction: row;
}

.dashboard > * {
  min-height: 100vh;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.container { 
  padding: 20px 20px 15px 20px;
  width: calc(100vw - var(--submenu-width) - var(--side-nav-width));
  height: 100vh;
}

.container::-webkit-scrollbar {
  display: none;
}
