.card {
  background: #fbfbfb;
  border-radius: 6px;
  color: black;
  display: block;
  margin: 20px 0;
  padding: 35px 18px;
  text-decoration: none;
}

.title {
  font-size: 1rem;
  margin: 0;
}

.content {
  flex: 1;
  min-width: 0;
  margin: 0;
  margin-top: 10px;
}

.content span {
  display: inline;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
}

.emptyDiaryText {
  color: #666666;
  font-style: italic;
}

.updateTime {
  color: #999999;
  font-size: 0.8rem;
  margin: 0;
  margin-top: 2rem;
  text-align: right;
}
