.nav {
	background-color: var(--bg-nav);
	color: var(--white);
	padding: 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.logo {
  height: 20px;
	vertical-align: bottom;
}

.menuToggle {
	display: none;
}

.menuToggle:checked + .navLinks {
	display: block;
}

.navLinks {
	display: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navButton {
	background-color: unset;
	border: none;
	color: var(--white);
	cursor: pointer;
	padding: 0;
	text-decoration: none;
  font-size: 0.875rem;
}

.nav label {
	cursor: pointer;
	position: relative;
}

.toggleIcon {
	width: 20px;
}

.toggleIcon div {
  height: 2px;
  background: var(--white);
  margin: 4px 0;
  border-radius: 4px;
}

.navHead {
	display: flex;
	justify-content: space-between;
	min-width: 50%;
}

.logoContainer {
	align-items: center;
	display: flex;
	gap: 10px;
	justify-content: flex-start;
	width: 100%;
}

.navLinks li {
	padding: 20px 0;
}

.navLinks li:nth-child(1) {
	padding-top: 40px;
}

@media only screen and (min-width: 992px) {
  .nav {
		display: flex;
    height: auto;
		justify-content: space-between;
    margin-bottom: 30px;
	}

	.toggleIcon {
		display: none;
	}

	.navLinks li {
		display: inline-block;
		padding: 0 20px;
	}

	.navLinks li:nth-child(1) {
		padding-top: 0;
	}
	
	.menuToggle:not(:checked) + .navLinks {
	  display: block;
	}

	.logoContainer {
		gap: 20px;
	}
}
