:root {
  --black: #000000;
  --white: #ffffff;
  --bg-default: #f9fbfd;
  --bg-nav: #0e2350;
  --primary: #1180af;
  --font-family-default: 'Lato', 'Lucida Grande', 'Lucida Sans Unicode', Tahoma, Sans-Serif;
  --font-family-editor: Arial, Helvetica, sans-serif;
}
